/* Container centers the card on screen */
.login-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

/* Glassmorphism card */
.login-card-container {
  background: rgba(255, 255, 255, 0.133); /* translucent white layer */
  border: 1px solid rgba(255, 255, 255, 0.25); /* soft white border */
  border-radius: 16px;
  padding: 40px 30px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  backdrop-filter: blur(2px); /* frosted glass effect */
  box-shadow: 0 8px 32px rgba(122, 122, 122, 0.179); /* subtle shadow */
  color: #fff;
}


.role-toggle {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.role-toggle p {
  cursor: pointer;
  font-weight: 500;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.role-toggle p:hover {
  color: #00bcd4;
}

.active-role {
  border-bottom: 2px solid #00bcd4;
  color: #00bcd4;
}


.login-card-container-form .label{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

/* Input fields */
.login-card-container-form input {
  width: 100%;
  padding: 5px 8px;
  margin:3px 0 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 17px;
}

.login-card-container-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Buttons */
.login-card-container-form button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-card-container-form button:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Text links */
.login-card-container-from p {margin-top: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

.login-card-container-form span {
  color: #00d4ff;
  cursor: pointer;
}

.login-card-container-form span:hover {
  text-decoration: underline;
}
